/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 2
   Case Problem 4
   
   Great Lakescape Lodge Style Sheet
   Author: 
   Date:   
   
   Filename: lake_styles.css

*/
@charset "utf-8";
@import "layout.css";
@font-face{
   font-family:Champagne;
   src: url(cac_champagne.ttf) format('ttf'),
   url(cac_champagne.woff) format('woff'),
   url(cac_champagne.woff2) format('woff2');
}
@font-face{
   font-family:Dobkin;
   src: url(DobkinPlain.ttf) format('ttf'),
   url(DobkinPlain.woff) format('woff'),
   url(DobkinPlain.woff2) format('woff2');
}

/* Strunctural Styles */
html{
   background-color: rgb(175, 175, 90)
}
header nav{
   /* the purple bar at the top */
   background-color: rgb(126, 74, 126);
   padding-top: 5px;
   padding-right: 10px;
   padding-bottom: 5px;
   padding-left: 10px;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
footer{
   /* the grey bar at the bottom */
   background-color: grey;
   text-align: center;
   color: white;
   padding-top: 4px;
   padding-bottom: 6px;
}

 /* Body Section Styles */
 /* Left Column styles */
body section#leftcol{
   /* changs the background color for the main article and the
   font used */
   background-color: white;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body section#leftcol>h1{
   /* Changes Welcome to be larger and different font */
   font-family: Champagne, sans-serif;
   font-size: 4em;
   font-weight: none;
   margin: 0px;
   padding-left: 5px;
}
body section#leftcol p{
   /* main article on left */
   padding-top: 5px;
   padding-right: 10px;
   padding-bottom: 5px;
   padding-left: 10px;
}
body section#leftcol aside:first-of-type{
   /* red box on the bottom left */
   background-color: rgb(250, 91, 91);
   padding-bottom: 5px;
   padding-right: 8px;
   padding-left: 8px;
   line-height: 30px;
}
body section#leftcol aside{
   /* brown box on the bottom right */
   background-color: rgb(211, 174, 104);
   padding-bottom: 5px;
   padding-right: 8px;
   padding-left: 8px;
}
body section#leftcol aside h1{
   text-align: center;
}
/* Centers Notes and Upcoming Events in the bottom boxes */

/* Right Column styles */
body{
   background-color: rgb(221, 179, 221);
}
body section#rightcol{
   /* purple column on the left */
   padding-top: 7px;
   padding-right: 20px;
   padding-bottom: 7px;
   padding-left: 20px;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body section#rightcol nav>h2{
   font-family: Dobkin, sans-serif;
   font-size: 2em;
   font-weight: none;
}
body section#rightcol nav ul{
   /* removes the bullet points from the nav on the right */
   list-style-type: none;
}
body section#rightcol nav ul a:link, a:visited{
   /* changes the color of the links and removes the underline */
   color: rgb(131, 131, 67);
   text-decoration: none;
}
body section#rightcol nav ul a:hover, a:active{
   /* changes the font and highlights the text a darker color
   when you hover over with your mouse */
   color: rgb(175, 175, 90);   
   background-color: rgb(151, 87, 151);
}

/* Blockquote Styles */
body blockquote{
   /* paragraph under the nav on the right side */
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
   'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   color: rgb(151, 87, 151);
   font-size: 1.3em;
   margin: 0px;
   padding-top: 50px;
}

/* Header Nav Styles */
header nav a:visited, header nav a:link{
   /* changes text in the top nav bar to white */
   color:white;
   text-decoration: none;
   font-size: 1em;
}
header nav a:hover, a:active{
   /* highlights */
   background-color: rgb(68, 39, 68)
}